numpy==1.26.0
streamlit==1.27.0
plotly==5.17.0
textblob==0.17.1
pandas==2.1.1
matplotlib==3.8.0
wordcloud==1.9.2
prophet==1.1.4
networkx==3.1
igraph==0.10.8
streamlit_extras==0.3.2
openpyxl==3.1.2
google-api-python-client~=2.102.0
scipy~=1.11.2
